/* MAIN PROJECT*/
.main {
    flex-direction: column;
}

.projectHeader {
    padding: 0px;
}

.mainText {
    color: #6B708D;
}

.image {
    height: 444px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

h1 {
    margin: 20px;
}



/* Projects */

.projects {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
}

.projGrid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

article {
    background-color: white;
    max-width: 340px;
    height: fit-content;
}

article div {
    padding: 30px;
}

.learnMore {
    display: flex;
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}



article img {
    width: 100%;
    height: 240px;
}

.descripcionCard {
    height: 150px;
}
.learnMore:hover {
    color: #6B708D;
}

@media screen and (max-width: 991px) {
    .projectHeader {
        flex-direction: column;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    /* Projects */
    .projects {
        height: fit-content;
    }

    .projGrid {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}