
/* Services */
.services {
    height: 561px;
    display: flex;
    flex-direction: column;
    max-width: 1320px;

}

.servGrid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.proj {
    width: 40px;
    height: 40px;
    border-radius: 80px;
    overflow: hidden;
    text-align: center;
    background-color: #ECF7FF;
    margin: 40px 0px 0px 40px;
    display: flex;
    align-items: center;
}

.proj img {
    height: 50px;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    padding: 0 8%;
    width: 100%;
    max-width: 1320px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

label,
.optional {
    width: 100%;
}

.optional {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
}

input,
textarea {
    background-color: rgba(107, 112, 131, 10%);
    border: none;
}

textarea {
    padding: 16px;
    height: 200px;
}

.email,
.phone,
.name,
.message {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.submit {
    background-color: #072AC8;
    padding: 15px 37px;
    color: white;
    border: none;
    height: 80px;
}

@media screen and (max-width: 991px) {
    .optional {
        flex-direction: column;

    }

    /* Services */
    .services {
        height: fit-content;
    }

    .servGrid {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 767px) {
}