@import url(./fonts.css);
@import url(./navbar.css);
@import url(./project.css);
@import url(./services.css);
@import url(./components.css);
@import url(./hero.css);
@import url(./clients.css);
@import url(./questions.css);
@import url(./footer.css);
@import url(./logos.css);

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    padding: 0 8%;
    width: 80vw;
}

/* responsive */
@media screen and (max-width: 991px) {
    section {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 767px) {
    .projGrid,
    .servGrid {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .projGrid article,
    .servGrid article {
        max-width: 100%;
    }
}