@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Text styles */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 20px;
    background-color: #F4F6FC;
    color: #292E47;
}

h1 {
    font-weight: bold;
    font-size: 60px;
}

h2 {
    font-weight: bold;
    font-size: 50px;
}

h3 {
    font-weight: bold;
    font-size: 40px;
}

h4 {
    font-weight: bold;
    font-size: 24px;
}

.bodyMedium {
    font-weight: 500;
    font-size: 24px;
}

.headline {
    font-size: 17px;
}

.medium {
    font-weight: 500;
}

.caption1 {
    font-size: 15px;
}

.caption2 {
    font-size: 13px;
}


/*Elements*/
/* Header */
header {
    padding: 0px 30px;
}
.topnav {
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #6B708D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #072AC8;

}

/* Add an active class to highlight the current page */
.topnav a.active {
    color: #0082f3;
    ;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.button {
    background-color: #072AC8;
    padding: 15px 37px;
    color: white;
    border: none;
}

.button:hover {
    background-color: #292E47;
}

.active {
    color: #0082f3;

}
#circle{
position: relative;
}
#circle img{
    position: absolute;
    top: 0px;
    left: 0px;
    }

nav a {
    padding: 20px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero */
a {
    text-decoration: none;
    color: #072AC8;
    border: none;
    padding-right: 37px;
}

section {
    display: flex;
    margin-bottom: 200px;
    padding: 0 8%;
    max-width: 1320px;
}

.hero a {
    color: #6B708D;
    display: flex;
    align-items: center;
}

.hero p {
    color: #6B708D;
    padding-right: 35px;
}


.heroInfo,
.fotosHero {
    display: flex;
    flex-direction: column;
}

.more {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
}


.fotosHero {
    width: 560px;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 100px;
}

.mainCard {
    width: 560px;
}

#card1 {
    position: absolute;
    left: -80px;
    top: 30px;
    width: 357px;
}

#card2 {
    position: absolute;
    right: -80px;
    bottom: -100px;
    width: 357px;
}

img .img {
    width: 17%;

}



/* Logos */
.logos {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0px;
    text-align: center;
}

.logo {
    max-height: 96px;
    max-width: 150px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.logos div {
    height: 96px;
    width: 150px;
}

#airbnb {
    width: 102.67px;
}

#google {
    width: 96px;
}

#microsoft {
    width: 123px;
}

#fedex {
    width: 99.88px;
}

#amazon {
    width: 104px;
}

/* Projects */

.projects {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
}

.projGrid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

article {
    background-color: white;
    max-width: 340px;
}

article div {
    padding: 30px;
}

.learnMore {
    display: flex;
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

article img {
    width: 100%;
    height: 240px;
}

.descripcionCard {
    height: 150px;
}



/* Clients */

.clients {
    display: flex;
    flex-direction: column;
    background-color: #292E47;
    background-image: url(../project-assets/testimonial-section/orbit.png);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 622px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
}

.clients h3 {
    color: white;
}

.clients .bodyMedium {
    color: #FFC600;
    margin: 0px 220px;
}

.clients .headline {
    color: #A2D6F9;
}

.clients .caption2 {
    color: #F4F6FC;
}

.clientInfo {
    display: flex;
    justify-content: center;
}

.clientText {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

.clientText p {
    margin: 0;
    padding-left: 16px;
    text-align: left;
}

.client {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.client img {
    height: 50px;
}

#memo1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 53px 0px 0px 106px;
}

#memo1 img {
    width: 150px;
    height: 150px;
}

#memo2 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 53px 106px 0px 0px;
}

#memo2 img {
    width: 150px;
    height: 150px;
}

#memo3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0px 53px 106px;
}

#memo3 img {
    width: 150px;
    height: 150px;
}

#memo4 img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 106px 53px 0px;

}

#memo4 img {
    width: 150px;
    height: 150px;
}

/* Services */
.services {
    height: 561px;
    display: flex;
    flex-direction: column;
    max-width: 1320px;

}

.servGrid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.proj {
    width: 40px;
    height: 40px;
    border-radius: 80px;
    overflow: hidden;
    text-align: center;
    background-color: #ECF7FF;
    margin: 40px 0px 0px 40px;
    display: flex;
    align-items: center;
}

.proj img {
    height: 50px;
}


/* Questions */
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC600;
    height: 500px;
    max-width: 100%;
    margin-top: 60px;
}

.questions form {
    margin-top: 40px;
    display: flex;

}

.questions h3 {
    margin: 0px;
}

.questions p {
    color: #6B708D;
}

.questions .button {
    color: #F4F6FC;
    height: 80px;
}


.newsletter {
    display: flex;
    background-color: white;
    padding: 15px 37px;
    align-content: center;
    /* justify-content: center; */
}

input {
    border: none;
    padding: 16px;
    color: #292E47;

}

/* FOOTER */
footer {
    display: flex;
    padding: 0 8%;
    justify-content: space-between;
    margin-bottom: 100px;
    text-align: left;

}

.circle {
    width: 100px;
    height: 32px;
    background-image: url(../project-assets/logos/circle.svg);
    background-size: cover;
}

.footerLinks {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    text-align: center;
}

.footerLinks div {
    width: 110px;
    text-align: left;
}

footer p {
    color: #6B708D;
}

footer a {
    color: #072AC8;
    padding: 0;
    text-align: left;
}





/* responsive */
@media screen and (max-width: 991px) {
    section {
        padding: 0px 30px;
    }

    header button {
        display: none;
    }

    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

    .topnav nav {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }


    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive nav {
        float: none;
        display: flex;
        text-align: left;
        flex-direction: column;
    }


    /* Hero */
    .hero {
        flex-direction: column;
        text-align: center;
        height: fit-content;
    }

    .heroInfo {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero a {
        display: flex;
        align-items: center;
        padding: 0px 15px;
    }

    .hero p {
        margin: 0px 0px 40px;
    }

    #card1 {
        left: -100px;
    }


    .more {
        text-align: center;
        flex-direction: row;
        justify-content: center;
    }

    .fotosHero,
    .mainCard {
        width: 100%;
    }

    /* Logos */

    div #amazon {
        visibility: hidden;
    }

    .logos {
        justify-items: center;
        align-items: center;
        grid-column-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    /* Projects */
    .projects {
        height: fit-content;
    }

    .projGrid {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    /* Clients */
    #memo1,
    #memo2,
    #memo3,
    #memo4 {
        visibility: hidden;
    }

    .clients .bodyMedium {
        margin: 0px 64px;
    }

    /* Services */
    .services {
        height: fit-content;
    }

    .servGrid {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    /* .topnav responsive{
        
        align-items: center;
    } */
}


@media screen and (max-width: 767px) {

    .projGrid,
    .servGrid {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .projGrid article,
    .servGrid article {
        max-width: 100%;
    }

    /* Questions */
    .questions form {
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    /* Footer */
    footer {
        flex-direction: column;
        gap: 35px;

    }

    .adress,
    .circle {
        text-align: center;
        margin: auto;
    }

    #card1, #card2{
        display: none;
    }
}